.post-topic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;

    h4 {
        color: #6e7781;
    }

    a {
        color: #fff;
        background-color: #ff4500;
        padding: .6rem 1.2rem;
        border-radius: .375rem;
    }
}

.post-topic-body {
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
    padding: 1rem 2rem;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    form {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;


        label:focus-within>span,
        input:not(:placeholder-shown)+span {
            color: #ff4500;
            transform: translateY(0px);
        }

        label {
            position: relative;
            color: #24292f;

            input {
                width: 100%;
                padding: .6rem 1.2rem;
                margin-top: 1rem;
                outline: none;
                border-bottom: 1px solid #ddd;
                color: #24292f;

                &::placeholder {
                    opacity: 0;
                    color: #24292f;
                }
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(2rem);
                font-size: 0.825em;
                transition-duration: 150ms;
                z-index: 0;

            }
        }

        .select-box {
            margin-top: 1rem;

            select {
                background-color: #f6f8fa;
                padding: .6rem 1.2rem;
                border: none;
                outline: none;
                width: 100%;
                border-radius: .375rem;
                overflow: hidden;
                option {
                    border-radius: .375rem;
                    
                    &:checked {
                        background-color: #ff4500;
                    }
                }
            }
        }

        button {
            background-color: #ff4500;
            color: #FFF;
            border-radius: .375rem;
            padding: .6rem 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p.register-text {
            text-align: center;
            margin-bottom: 0;
            color: #24292f;

            a {
                cursor: pointer;
                color: #ff4500;
            }
        }

        p.or-separator {
            text-align: center;
            margin-bottom: 0;
            color: #24292f;
        }

        a.forgot-password {
            text-align: center;
            color: #ff4500;
        }
    }
}

body.dark-mode {
    .post-topic-header {
        h4 {
            color: #c9d1d9;
        }
    }

    .post-topic-body {
        background-color: #161b22;
        box-shadow: none;

        h2 {
            color: #c9d1d9;
        }

        p {
            color: #c9d1d9;
        }

        form {

            .ck {
                background-color: #0d1117;
                width: 100%;
                border: none;

                .ck-button__label {
                    border: none;
                    outline: none;
                }
            }       

            label:focus-within>span,
            input:not(:placeholder-shown)+span {
                color: #ff4500;
            }

            label {
                color: #c9d1d9;

                input {
                    border-bottom: 1px solid #21262d;
                    color: #c9d1d9;
                    background-color: transparent;

                    &::placeholder {
                        color: #c9d1d9;
                    }
                }
            }

            .select-box {
                select {
                    background-color: #0d1117;
                    color: #c9d1d9;
                }
            }

            button {
                background-color: #ff4500;
                color: #FFF;
            }
        }
    }
}