@model List<GetUserCardVM>

<div class="sidebar-item">
    <div class="sidebar-item-header">
        <a asp-controller="user" asp-action="all"><i class="fa-solid fa-users"></i> Top Members</a>
    </div>
    <div class="sidebar-item-body">
        @foreach (GetUserCardVM userCard in Model)
        {
            <div class="popular-member">
                <div class="sidebar-member">
                    <img src="@userCard.ProfileImage" alt="">
                    <a asp-controller="user" asp-action="index" asp-route-id="@userCard.Username">@userCard.FullName</a>
                </div>
                <p class="member-level">@userCard.Level level</p>
            </div>
        }
    </div>
</div>