@model ChangePasswordVM

<div class="register-main">
    <div class="register-box">
        <h2>Change your password</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

        <form method="post">
            <label asp-for="CurrentPassword">
                <input asp-for="CurrentPassword" placeholder="Current password">
                <span>Current password</span>
            </label>
            <span asp-validation-for="CurrentPassword" class="text-danger mb-2"></span>

            <label asp-for="NewPassword">
                <input asp-for="NewPassword" placeholder="New password">
                <span>New password</span>
            </label>
            <span asp-validation-for="NewPassword" class="text-danger mb-2"></span>

            <label asp-for="ConfirmPassword">
                <input asp-for="ConfirmPassword" placeholder="Confirm new password">
                <span>Confirm new password</span>
            </label>
            <span asp-validation-for="ConfirmPassword" class="text-danger mb-2"></span>


            <button type="submit">Confirm</button>
        </form>
    </div>
</div>

