@model ForgotPasswordVM

<div class="register-main">
    <div class="register-box">
        <h2>Reset account</h2>

        <form method="post">
            <label asp-for="Email">
                <input asp-for="Email" placeholder="E-mail">
                <span>E-mail</span>
            </label>
                <span asp-validation-for="Email" class="text-danger mb-2"></span>

            <button type="submit">Send mail</button>

            <p class="register-text">Already have an account? <a asp-controller="account" asp-action="login" class="register-btn">Login</a></p>
        </form>
    </div>
</div>

