@model ResetPasswordVM

<div class="register-main">
    <div class="register-box">
        <h2>Set new password</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

        <form method="post">
            <label asp-for="NewPassword">
                <input asp-for="NewPassword" placeholder="New Password">
                <span>New Password</span>
            </label>
            <span asp-validation-for="NewPassword" class="text-danger mb-2"></span>

            <label asp-for="ConfirmNewPassword">
                <input asp-for="ConfirmNewPassword" placeholder="Confirm new Password">
                <span>Confirm new Password</span>
            </label>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger mb-2"></span>

            <button type="submit">Reset</button>
        </form>
    </div>
</div>

