.communities-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;

    h3 {
        color: #6e7781;
    }
}

.communities-body {
    margin-bottom: 2rem;
}

body.dark-mode {
    .communities-header {
        h3 {
            color: #c9d1d9;
        }
    }
}