.search-page-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    h3 {
        color: #6e7781;
        
    }
}

body.dark-mode {
    .search-page-header {
        h3 {
            color: #c9d1d9;
        }
    }
}